:root {
    --color-blue: #0072DB;
    --color-yellow: #FF9900;
}

.margin {
    margin: 0;
}

.header {
    height: 110px;
    text-align: center;
    font-size: 48px;
    font-weight: 400;
    font-family: Arial;
    letter-spacing: .1em;
    padding: 25px auto 31px;
}

.strong {
    color: #3E45E8;
    display: inline-block;

}

.uk {
    color: #E8C23E;
    display: inline-block;
}

.main_title {
    width: 1440px;
    height: 765px;
    margin: 0 auto;
    background: linear-gradient(45deg, rgba(35, 35, 35, .35), rgba(35, 35, 35, .35)), url(../img/background.png);
}

.flag {
    padding: 239px 1337px 236px 80px;
}

.text {
    padding: 225px 263px 236px 141px;
    font-size: 48px;
    font-weight: 700;
    font-family: Arial;
    line-height: 75px;
    color: #FFFFFF;
    position: absolute;
}

.title {
    font-size: 40px;
    font-weight: 700;
    font-family: Arial;
    margin-left: 80px;
    margin-top: 48px;
}

.line {
    margin-left: 0;
}

.cards {
    min-width: 992px;
    max-width: 1200px;
    margin: 0 auto;
}

.card {
    margin-top: 42px;
    display: inline-block;
    width: 30%;
    border: 5px solid #0D095F;
    min-height: 481px;
    vertical-align: top;
    border-radius: 34px;
}

.card__img>img {
    width: 100%;
}

.card-mergin {
    margin: 42px 3% 0;
}

.card__title {
    color: var(--color-blue);
    font-family: sans-serif;
    font-size: 24px;
    padding: 16px 10px;
}

.card__description {
    color: var(--color-yellow);
    font-family: sans-serif;
    font-size: 20px;
    padding: 13px 10px;
}

.title2 {
    margin: 45px auto 0;
    width: 592px;
    border-bottom: 7px solid #1400FF;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: arial;
    padding: 6px;
}

.map {
    text-align: center;
    padding-top: 32px;
}

.btn {
    box-sizing: border-box;
    width: 499px;
    height: 81px;
    margin: 23px auto 36px;
    background-color: #2A61F0;
    border-radius: 50px;
    text-align: center;
}

.link {
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 64px;
    font-weight: 700;
    font-family: sans-serif;
    padding: auto;
}

.footer {
    width: 100%;
    height: 233px;
    background: linear-gradient(180deg, rgba(01, 32, 35, 1), #0D0661);
}

.footer__title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    font-family: arial;
    letter-spacing: .1em;
    padding-top: 20px;
}

.mail {
    margin: 5px auto;
    text-align: center;
}

.mail_text {
    text-decoration: none;
    color: #A89D9D;
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: .1em;

}


.social {
    margin: 5px auto;
    text-align: center;
}

.icon {
    margin: 0 28px 0;
}